body{
  margin: 0;
    padding: 0;
    background-image: url(/images/Fondo_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}
.logo{
  width: 60px;
}
.navbarCont{
  margin-top: 20px;
}

.navbar{
  background-color: aqua;
}